:root {
  /*
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  */
  --md-primary-fg-color: #B30701;
  --md-primary-fg-color--light: #EE0F0F;
  --md-primary-fg-color--dark: #3A0402;
  --md-secondary-fg-color: #1B1B3A;
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
  --md-default-fg-color--light: #6B3E3C;
}

.md-header,
.md-tabs {
  background: linear-gradient(90deg, var(--md-primary-fg-color), var(--md-secondary-fg-color));
}

#section-home-logo {
  display: flex;
  height: 60vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, var(--md-primary-fg-color), var(--md-secondary-fg-color));
  border-radius: 0 0 100% 100%;
  color: white;
}

#section-home-logo p {
  font-size: 1.2rem;
}

#section-home-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#section-home-about p {
  max-width: 50vw;
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
}

#section-home-about h1, #section-home-team h1 {
  color: var(--md-primary-fg-color);
  font-size: 1.4rem;
  text-decoration: underline var(--md-primary-fg-color);
}

#section-home-team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 100000px; */
}

.container-members-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.member-card {
  border-radius: 10px;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 7px;
}

.member-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.member-card-img {
  height: 100%;
}

.member-card-bar {
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

#section-home-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 10px 0px;
}

#section-home-footer img {
  width: 25vw;
}

.md-typeset blockquote {
  border-left: .2rem solid var(--md-default-fg-color--light);
}