.conteudoDesc{
    background-color: #E5E5E5;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descMap{
    width: 80%;
    min-height: 40vh;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .descMap{
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        width: 90%;
    }
  }

.desc{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 404px;
}

.desctitle{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 0;
}

.desccontent{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
}

.yellouLine{
    width: 70px;
    background-color:#FFB037 ;
    height: 4px;
}

.mapdiv{
    width: 570px;
    height: 355px;
}